/* @media (screen and (min-width: 1000px)) {
    .nav-login-cart button {
        width: 157px;
        height: 58px;

    }
} */

@media (screen and (min-width: 1000px)) {
    .nav-login-cart button {
        width: 140px;
        height: 52px;

    }
}